{% extends 'ItkgPhpRedmonBundle::base.html.twig' %}

{% block main %}
    <h2>Clients</h2>
    <table class="table table-striped">
        <thead>
            <th>Adresse :</th>
            <th>Temps de connexion</th>
            <th>Temps d'inactivité</th>
            <th>db actuel</th>
            <th>Nbr de channel</th>
            <th>qbuf</th>
            <th>last command</th>
        </thead>
    {% for client in clients %}
    <tr>
        <td>{{client.addr}}</td>
        <td>{{client.age}}</td>
        <td>{{client.idle}}</td>
        <td>{{client.db}}</td>
        <td>{{client.sub}}</td>
        <td>{{client.qbuf}}</td>
        <td>{{client.cmd}}</td>
    </tr>
    {% endfor %}
    </table>
             
{% endblock %}            
