{% extends 'ItkgPhpRedmonBundle::base.html.twig' %}

{% block main %}
    <h2>Instances Redis</h2>
    <table>
        <thead>
            <tr>
                <th>Libellé</th>
                <th>Host</th>
                <th>Port</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for instance in instances %}
                <tr>
                    <td>{{ instance.name }}</td>
                    <td>{{ instance.host }}</td>
                    <td>{{ instance.port }}</td>
                    <td></td>
                    <td>
                        <a href="{{ path('itkg_phpredmon_instance_edit', {'id': instance.id}) }}">Editer</a> |
                        <a href="{{ path('itkg_phpredmon_instance_delete', {'id': instance.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        
        </tbody>
    </table>
{% endblock %}    

