{% extends 'ItkgPhpRedmonBundle::base.html.twig' %}

{% block main %}
    <h2>Créer une instance Redis</h2>
    {% if errors %}
        <div class="alert alert-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    <form action="{{ path('itkg_php_redmon_instance_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.id) }}
        {{ form_row(form._token) }}
        {{ form_row(form.name, { 'attr': {'oninvalid': "setCustomValidity('Veuillez remplir ce champs')"} }) }}
        {{ form_row(form.host, { 'attr': {'oninvalid': "setCustomValidity('Veuillez remplir ce champs')"} }) }}
        {{ form_row(form.port, { 'attr': {'oninvalid': "setCustomValidity('Veuillez remplir ce champs')"} }) }}
        <ul class="databases" data-prototype="{{ form_widget(form.databases.vars.prototype)|e }}">
            {% for database in form.databases %}
                <li>Base n° {{database.id.vars.value}} {{ form_row(database.name) }}</li>
            {% endfor %}
        </ul>
            
        <a href="#" class="add_database">
            <img class="pull-left" src="{{ asset('/bundles/itkgphpredmon/images/add.png') }}" width="20"/>
            <strong>Ajouter une base</strong>
        </a>
        <input class="btn" type="submit" value="Valider" />
    </form>
{% endblock %}    

