{% extends 'ItkgPhpRedmonBundle::base.html.twig' %}

{% block main %}
    
        <h2>Modifier une instance Redis</h2>
        {% if errors %}
            <div class="alert alert-error">
                {{ form_errors(form) }}
            </div>
        {% endif %}
        <form action="{{ path('itkg_php_redmon_instance_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.id) }}
        {{ form_row(form._token) }}
        {{ form_row(form.name, { 'attr': {'oninvalid': "setCustomValidity('Veuillez remplir ce champs')"} }) }}
        {{ form_row(form.host, { 'attr': {'oninvalid': "setCustomValidity('Veuillez remplir ce champs')"} }) }}
        {{ form_row(form.port, { 'attr': {'oninvalid': "setCustomValidity('Veuillez remplir ce champs')"} }) }}
        <span>Bases de données : <a href="#" class="del_database">Supprimer les bases de données</a></span>
        <ul class="databases" data-prototype="{{ form_widget(form.databases.vars.prototype)|e }}">
            {% for database in form.databases %}
                <li>Base n° {{database.id.vars.value}} {{ form_row(database.name) }}</li>
            {% endfor %}
        </ul>
        <span class="add_link">
            <a href="#" class="add_database black">
                <img class="pull-left" src="{{ asset('/bundles/itkgphpredmon/images/add.png') }}" width="20"/>
                <strong>Ajouter une base</strong>
            </a>
        </span>
        <input class="btn" type="submit" value="Valider" />
    </form>
        
    
{% endblock %} 
        
{% block widget %}
    <div class="span5 pull-right">
        <div class="well well-large add_link">
            <a class="black" href="{{ path('itkg_php_redmon_instance_delete', {'id': id}) }}">
                <img class="pull-left" src="{{ asset('/bundles/itkgphpredmon/images/del.png') }}" width="20"/>
                <strong>Supprimer cette instance</strong></a>
        </div>
    </div>
{% endblock %}

