<!DOCTYPE html>
<html>
  <head>
    <title>Php Redmon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/bundles/itkgphpredmon/css/bootstrap.min.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('/bundles/itkgphpredmon/css/bootstrap-responsive.css') }}" rel="stylesheet">

{% endblock %}
      </head>
 
<body>
{% block nav %}
        <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ path('dashboard') }}">PhpRedmon</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="{{ path('dashboard') }}">Dashboard</a></li>
              <li><a href="{{ path('client') }}">Client</a></li>
              <li><a href="{{ path('configuration') }}">Configuration</a></li>
              <li><a href="{{ path('administration') }}">Administration</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
        <br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}

{% block main%}
        
{% endblock%}        
        
    {% block javascript %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ asset('/bundles/itkgphpredmon/js/bootstrap.min.js ') }}"></script>
{% endblock %}
  </body>
</html>