{% extends 'ItkgPhpRedmonBundle::base.html.twig' %}

{% block main %}
    {% if instances %}
        <h2>Veuillez séléectionner une instance Redis</h2>
        
        <table>
            <thead>
                <tr>
                    <th>Libellé</th>
                    <th>Host</th>
                    <th>Port</th>
                    <th>Etat</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for instance in instances %}
                    <tr>
                        <td>{{ instance.name }}</td>
                        <td>{{ instance.host }}</td>
                        <td>{{ instance.port }}</td>
                        <td></td>
                        <td>
                            <a href="{{ path('itkg_php_redmon_instance_select', {'id': instance.id}) }}">Séléectionner</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Aucune instance Redis n'a été trouvée</h2>
    {% endif %}
    <p>Pour ajouter une instance Redis, <a href="{{ path('itkg_php_redmon_instance_new') }}">cliquez ici</a></p>
{% endblock %}    

