<!DOCTYPE html>
<html>
  <head>
    <title>Php Redmon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/bundles/itkgphpredmon/css/bootstrap.min.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('/bundles/itkgphpredmon/css/bootstrap-responsive.css') }}" rel="stylesheet">    
    <link rel="stylesheet" href="{{ asset('/bundles/itkgphpredmon/css/style.css') }}" rel="stylesheet">


{% endblock %}
      </head>
 
    <body>
    {% block nav %}
        {% render "ItkgPhpRedmonBundle:Main:nav" %}
    {% endblock %}

    <div class="container">
        
        {% include 'ItkgPhpRedmonBundle:Main:message.html.twig' %}
        {% block main %}

        {% endblock%}   
    </div>
{% block javascript %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ asset('/bundles/itkgphpredmon/js/bootstrap.min.js ') }}"></script>
    <script src="{{ asset('/bundles/itkgphpredmon/js/phpredmon.js ') }}"></script>
{% endblock %}
  </body>
</html>